My workflow (2).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -3104,
        1456
      ],
      "id": "f3667947-96a8-4f76-b183-c0825eedfdef",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "UL8hRVXWItL52P1f",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User message: {{ $json.message.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a customer service AI assistant.\n\nYou MUST use the provided knowledge base tool to answer customer questions.\n\nTasks:\n1. Detect intent: Inquiry or Complaint\n2. If inquiry → answer strictly from company knowledge\n3. If complaint → apologize and summarize the issue\n\nReturn JSON:\n{\n  \"intent\": \"Inquiry | Complaint\",\n  \"reply\": \"\",\n  \"complaint_summary\": \"\"\n}\n\n\"CRITICAL: Return ONLY a raw JSON object. Do NOT include markdown code blocks like ```json or any conversational text. Just the bracketed JSON.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -3072,
        1232
      ],
      "id": "351443fa-877f-4127-9244-191d597b0e76",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.reply }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1856,
        1248
      ],
      "id": "b57900c5-ab5d-45a2-bdde-3494d696262c",
      "name": "Send a text message",
      "webhookId": "aece891d-f486-48aa-9085-5d29f52e6d15",
      "credentials": {
        "telegramApi": {
          "id": "2vF3lBPKdc6RstHQ",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -3328,
        1232
      ],
      "id": "0a6ba956-daad-4c44-a35f-de44b0c22a3b",
      "name": "Telegram Trigger",
      "webhookId": "2d0906b1-7317-460a-8a91-908d497f8f0b",
      "credentials": {
        "telegramApi": {
          "id": "2vF3lBPKdc6RstHQ",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1Iyi-ds03UPh3bW0OSo5eKXdMeQazo_S1ThuCkMhcev0/edit?usp=sharing"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -2976,
        944
      ],
      "id": "c24f3f4c-8496-4943-b7ae-e439d992db5f",
      "name": "Get a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "3JTWjZWmMRXQJMeb",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -2480,
        1056
      ],
      "id": "8f226fa1-3010-4cf4-8585-aee45d45438a",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "content": "### 📚 Load Data Flow",
        "height": 460,
        "width": 700,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3024,
        752
      ],
      "typeVersion": 1,
      "id": "2803a653-e6a3-444a-a9e0-4899e1ca4afb",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "vector_store_key",
          "mode": "list",
          "cachedResultName": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.2,
      "position": [
        -2608,
        832
      ],
      "id": "75d81d7d-7ec6-4643-b9c2-fb96fcf5c18d",
      "name": "Insert Data to Store"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "knowledge_base",
        "toolDescription": "Use this knowledge base to answer questions from the user",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.2,
      "position": [
        -2912,
        1456
      ],
      "id": "e621800e-7ec7-47e2-84c1-8d4449a5898d",
      "name": "Query Data Tool"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2608,
        1056
      ],
      "id": "958ec2bc-4c37-410d-a162-e56ba8993d2f",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "UL8hRVXWItL52P1f",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1JV4xhVjQa9CDRdkeQHwqufAD2D3of-nKcOOCRRJzFjI",
          "mode": "list",
          "cachedResultName": "linked in po",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JV4xhVjQa9CDRdkeQHwqufAD2D3of-nKcOOCRRJzFjI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "الورقة1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JV4xhVjQa9CDRdkeQHwqufAD2D3of-nKcOOCRRJzFjI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "content": "={{ $json.complaint_summary }}",
            "finishReason": "={{ $json.intent }}",
            "index": "={{ $json.reply }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "finishReason",
              "displayName": "finishReason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "index",
              "displayName": "index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2048,
        1152
      ],
      "id": "829b231c-39bf-4625-ae42-b74165360072",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "V5HsX2uVKnBgA6Fb",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "08a2eb75-9a26-4273-8664-bf3a48696b9b",
              "leftValue": "={{ $json.intent }}",
              "rightValue": "Complaint",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2256,
        1232
      ],
      "id": "743c2a90-10e2-4fe1-8b1e-b153bc812b75",
      "name": "is this a complaint",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false,
      "notesInFlow": false
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -3280,
        944
      ],
      "id": "e2a3a431-acac-4c63-b206-4c83b0d3dbf5",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "\nconst rawOutput = $input.item.json.output;\n\nconst cleanOutput = rawOutput.replace(/```json|```/g, '').trim();\n\nconst data = JSON.parse(cleanOutput);\n\nreturn {\n  intent: data.intent,\n  reply: data.reply,\n  complaint_summary: data.complaint_summary || \"N/A\"\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2592,
        1232
      ],
      "id": "17063ddd-ca38-46ea-874c-73eb625ce6ae",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert Data to Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Query Data Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "Insert Data to Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Insert Data to Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Query Data Tool",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is this a complaint": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "is this a complaint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "27b50a2d-4d34-453b-9063-89e3636f3b99",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d6c603c6ca559664455f0f1bfb45afaa9f175f95275e4fd2c98bc9b9b8206801"
  },
  "id": "RUTHr0YzApsnZT6S",
  "tags": []
}